.input_form {
    display: table;
}

.input_form h4.alert_info {
    display: table-cell !important;
    width: auto !important;
    margin: 2px 3% 2px 7px !important;
    text-indent: 32px !important;
}

.input_form .form_row {
    display: table-row;
    float: none !important;
}

.form_row > span:first-child {
    display: table-cell;
    padding-right: 5px;
}

.form_row > input[type="text"], .form_row > select {
    display: table-cell;
    width: 200px;
}

.form_row > select {
    width: 205px;
}

.input_form input[type="submit"] {
    margin-top: 10px;
}

.tableholder {
    margin: 0px !important;
    padding: 0px !important;
}

.input_form fieldset {
    padding: 10px;
}
