.input_form .form_row {
    display: table-row;
}

.form_row > span:first-child {
    display: table-cell;
    padding-right: 5px;
}

.form_row > input, .form_row > select {
    display: table-cell;
    width: 100%;
}

.input_form input[type="submit"] {
    margin-top: 10px;
}